.contact__list {
  list-style: none;
  padding-left: 0;
}

.contact-container {
  width: 355px;
  height: 56px;
  padding: 12px 16px 12px 20px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.contact-container:hover {
  background-color: #f5f5f5;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.container-detail {
  width: 355px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: 355px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.12);
}

.image-size {
  width: 72px;
  height: 72px;
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-light);
  padding: 0 20px;
}

.header__title {
  padding: 14px 0 14px 20px;
}
