.footer {
  margin-top: 200px;
  border-top: 1px solid var(--gray-light);
  text-align: end;
  background-color: var(--gray-100);
  padding: 14px;
  color: var(--blue);
}

.button-enter {
  border: none;
  outline: none;
  box-shadow: none;
  background-color: white;
  cursor: pointer;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.link {
  text-decoration: none;
  color: var(--blue);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
}
