@import url(colors.css);

.black {
  color: var(--black);
}

.gray {
  color: var(--gray);
}

.gray-light {
  color: var(--gray-light);
}

.blue {
  color: var(--blue);
}

.text-center {
  text-align: center;
}

.error {
  color: var(--error);
}
